.DS_Store
*.iml
.idea
builds
target
node_modules
selenide-selenoid-junit5-example/build
selenide-selenoid-junit5-example/selenoid/
selenide-selenoid-junit5-example/cm
selenide-selenoid-junit5-example/allure-results/
/demo-interface/src/stories/
/allure-results/
.vscode
/selenide-selenoid-junit5-example/src/test/resources/test.local.properties
/demo-interface/coverage/
/demo-interface/pacts/
/cv/
/e2e/selenide-junit5-selenium-grid/build/
/e2e/playwright-typescript/allure-results/
/e2e/playwright-typescript/playwright-report/
